In [110]:
import pandas as pd
import ast #To read strings back into lists/dicts
import copy
from collections import Counter

In [39]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398 entries, 0 to 4397
Data columns (total 22 columns):
id                       4398 non-null int64
belongs_to_collection    877 non-null object
budget                   4398 non-null int64
genres                   4382 non-null object
homepage                 1420 non-null object
imdb_id                  4398 non-null object
original_language        4398 non-null object
original_title           4398 non-null object
overview                 4384 non-null object
popularity               4398 non-null float64
poster_path              4397 non-null object
production_companies     4140 non-null object
production_countries     4296 non-null object
release_date             4397 non-null object
runtime                  4394 non-null float64
spoken_languages         4356 non-null object
status                   4396 non-null object
tagline                  3535 non-null object
title                    4395 non-null object
Keywords                 4005 non-null object
cast                     4385 non-null object
crew                     4376 non-null object
dtypes: float64(2), int64(2), object(18)
memory usage: 756.0+ KB

In [52]:
train.head()

,id,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,collection_name,has_collection
0,1,14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,Hot Tub Time Machine Collection,1
1,2,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,The Princess Diaries Collection,1
2,3,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,0,0
3,4,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,0,0
4,5,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,{},"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,0,0

In [40]:
dict_columns = ['belongs_to_collection', 'genres', 'production_companies',
                'production_countries', 'spoken_languages', 'Keywords', 'cast', 'crew']

def text_to_dict(df):
    for column in dict_columns:
        df[column] = df[column].apply(lambda x: {} if pd.isna(x) else ast.literal_eval(x) )
    return df
        
train = text_to_dict(train)
test = text_to_dict(test)

Dealing with Collections

In [49]:
train['belongs_to_collection'].apply(lambda x: len(x) if x != {} else 0).value_counts()

train['collection_name'] = train['belongs_to_collection'].apply(lambda x: x[0]['name'] if x != {} else 0)
train['has_collection'] = train['belongs_to_collection'].apply(lambda x: len(x) if x != {} else 0)

test['collection_name'] = test['belongs_to_collection'].apply(lambda x: x[0]['name'] if x != {} else 0)
test['has_collection'] = test['belongs_to_collection'].apply(lambda x: len(x) if x != {} else 0)

train = train.drop(['belongs_to_collection'], axis=1)
test = test.drop(['belongs_to_collection'], axis=1)

Dealing with genres

In [69]:
train.genres[1]

[{'id': 35, 'name': 'Comedy'},
 {'id': 18, 'name': 'Drama'},
 {'id': 10751, 'name': 'Family'},
 {'id': 10749, 'name': 'Romance'}]

In [86]:
train['genres'].apply(lambda x: len(x) if x != {} else 0)

0       1
1       4
2       1
3       2
4       2
5       3
6       2
7       1
8       5
9       2
10      1
11      1
12      1
13      2
14      4
15      3
16      2
17      2
18      2
19      3
20      3
21      2
22      2
23      3
24      2
25      4
26      4
27      3
28      1
29      4
       ..
2970    5
2971    4
2972    2
2973    4
2974    4
2975    5
2976    3
2977    3
2978    2
2979    2
2980    3
2981    1
2982    1
2983    2
2984    3
2985    4
2986    3
2987    2
2988    1
2989    2
2990    2
2991    4
2992    5
2993    2
2994    1
2995    2
2996    2
2997    4
2998    2
2999    3
Name: genres, Length: 3000, dtype: int64

In [85]:
train['all_genres'] = train['genres'].apply(lambda x: ' '.join(sorted([i['name'] for i in x])) if x != {} else '')
test['all_genres'] = test['genres'].apply(lambda x: ' '.join(sorted([i['name'] for i in x])) if x != {} else '')

In [87]:
train['num_of_genres'] = train['genres'].apply(lambda x: len(x) if x != {} else 0)
test['num_of_genres'] = test['genres'].apply(lambda x: len(x) if x != {} else 0)

In [88]:
train = train.drop('genres', axis = 1)
test = test.drop('genres', axis = 1)

In [98]:
train.production_companies.apply(lambda x: len(x) if x != {} else 0).value_counts() #How many have x amount of production companies for the film

1     775
2     734
3     582
4     312
5     166
0     156
6     118
7      62
8      42
9      29
11      7
10      7
12      3
16      2
15      2
14      1
13      1
17      1
Name: production_companies, dtype: int64

In [108]:
train.production_companies.apply(lambda x: ' '.join(sorted([i['name'] for i in x])) if x != {} else '')

0       Metro-Goldwyn-Mayer (MGM) Paramount Pictures U...
1                                    Walt Disney Pictures
2       Blumhouse Productions Bold Films Right of Way ...
3
4
5
6              Ghost House Pictures North Box Productions
7
8       Jim Henson Company, The Jim Henson Productions...
9                               Castle Rock Entertainment
10                                         United Artists
11      Amercent Films American Entertainment Partners...
12                     DreamWorks SKG Jinks/Cohen Company
13      Double Feature Films Jersey Films Metro-Goldwy...
14      Amblin Entertainment Blue Tulip Productions Cr...
15                                             Hypnopolis
16      BenderSpink Craven-Maddalena Films DreamWorks SKG
17      BBC Films Headline Pictures Magnolia Mae Films...
18      Aegis Film Fund Kaleidoscope Films Prescience ...
19      Canal+ Current Entertainment EuropaCorp Sea Si...
20      Irwin Allen Productions New Line Cinema Prelud...
21                   Jason Productions Paramount Pictures
22      8383 Productions Bloody Disgusting The Collective
23      G.C. Pix   Braeburn Entertainment  Check Enter...
24           Live Stock Films New Zealand Film Commission
25      Dark Horse Entertainment JVC Entertainment Net...
26      Jasmine Productions Inc. Jean Doumanian Produc...
27            Caramel Film Fastnet Films No Trace Camping
28      De Laurentiis Entertainment Group (DEG) Hasbro...
29                                     Paramount Pictures
                              ...
2970         Kasdan Pictures Tig Productions Warner Bros.
2971                                  Touchstone Pictures
2972    Beijing Poly-bona Film Publishing Company Chin...
2973        Silver Screen Partners II Touchstone Pictures
2974    Boll Kino Beteiligungs GmbH & Co. KG Brightlig...
2975    Josephson Entertainment New Upstairs Productio...
2976                   Code Entertainment Neverland Films
2977    AE Two Film Productions Angel Eyes Productions...
2978    Channel Four Films Goldwyn Films Killer Films ...
2979                             CBS Films Escape Artists
2980                   Full On Studios Pauly Jr. Pictures
2981                Gettin' Rad Productions Park Pictures
2982                           Super Crispy Entertainment
2983    Icon Entertainment International Studio Trite ...
2984    Camelot Pictures Chris Lee Productions Columbi...
2985           Revolution Studios Scott Rudin Productions
2986    Icon Entertainment International Icon Producti...
2987                                    Concorde Pictures
2988                         Abbas Kiarostami Productions
2989    Crest Animation Productions NEST Family Entert...
2990                      Island Pictures New Line Cinema
2991                    Cort/Madden Productions MTV Films
2992                           Douglas Fairbanks Pictures
2993    Amblin Entertainment DreamWorks SKG Parkes/Mac...
2994                                   Paramount Pictures
2995                Morgan Creek Productions Warner Bros.
2996                              Film i Väst Memfis Film
2997        Forge New Line Cinema The Steve Tisch Company
2998                      Jersey Films Loofah Productions
2999    Gotham Group Lions Gate Films Mango Farms Quic...
Name: production_companies, Length: 3000, dtype: object

In [ ]:
list(train['production_companies'].apply(lambda x: [i['name'] for i in x] if x != {} else []).values)

In [115]:
list_of_companies = list(train['production_companies'].apply(lambda x: [i['name'] for i in x] if x != {} else []).values)

In [123]:
list_of_companies[:10]

[['Paramount Pictures', 'United Artists', 'Metro-Goldwyn-Mayer (MGM)'],
 ['Walt Disney Pictures'],
 ['Bold Films', 'Blumhouse Productions', 'Right of Way Films'],
 [],
 [],
 [],
 ['Ghost House Pictures', 'North Box Productions'],
 [],
 ['Walt Disney Pictures', 'Jim Henson Productions', 'Jim Henson Company, The'],
 ['Castle Rock Entertainment']]

In [122]:
top_companies = [m[0] for m in Counter([i for j in list_of_companies for i in j]).most_common(30)]
#for g in top_companies:
#    train['production_company_' + g] = train['all_production_companies'].apply(lambda x: 1 if g in x else 0)
top_companies

TypeError: unhashable type: 'list'

In [33]:
#This column only has 1 relevant key but several relevant values attached to that key.
train['genres'][1]

"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]"

In [7]:
#Some of these columns have relevant info in more than one key.
#i.e. 'cast' has relevant info in the 'character' and 'name' keys.
train['cast'][0][:400]

"[{'cast_id': 4, 'character': 'Lou', 'credit_id': '52fe4ee7c3a36847f82afae7', 'gender': 2, 'id': 52997, 'name': 'Rob Corddry', 'order': 0, 'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}, {'cast_id': 5, 'character': 'Nick', 'credit_id': '52fe4ee7c3a36847f82afaeb', 'gender': 2, 'id': 64342, 'name': 'Craig Robinson', 'order': 1, 'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'}, {'cast_id': 6, "

In [8]:
def get_column_info(series, keys):
    '''
    Allows returned column to replacd the relevant df column in place
    or as a new Series. Allows for further counting with the gather function.
    
    Parameters:
    series (pd.Series) The relevant column from the DataFrame.
    keys (list) Can be a list of just 1 or several keys to search for.
    
    Returns:
    column (pd.Series) Each row has a new dict with lists of values associated 
    with each given key.
    '''
    column = copy.deepcopy(series)
    for index, data in column.iteritems():
        #Populate this row of the new df with the new dict
        #Calls the get_info method
        column.at[index] = get_info(data, keys)
    return column

def get_info(row, keys):
    '''
    Pulls the values from each key into a new list for each key.
    
    Parameters:
    row (str) String to be evaluated as list of dicts.
    keys (list) Can be a list of just 1 or several keys to search for.
    
    Returns:
    info (dict) The values of the relevant keys as new lists.
    '''
    #if the data can be turned into a list or dict
    if row != '':
        #New empty dict of lists
        info = {}
        #For each of the provided keys 
        for key in keys:
            #
            info[key] = []
            #Turn data into list of dicts
            list_of_dicts = ast.literal_eval(row)
            #Read each dict
            for dic in list_of_dicts:
                #Add the info from the provided key to the list of info
                info[key].append(dic[key])
        #Return the list of info matching the key from every row
        return info

def gather(column, keys):
    '''
    Gathers up all values sassociated with each key across all rows
    in the column into a single list. Each list is added to a new dict.
    
    Parameters:
    column (pd.Series) Column of rows to iterate over.
    
    keys (list) Can be a list of just 1 or several keys to search for.
    
    Returns:
    info_lists (dict) Dictionaries of lists of values associated with each key.
    '''
    #New dict of lists
    info_lists = {}
    
    #New empty list for each key in keys
    for key in keys:
        info_lists[key] = [] 
    
    #Iterate over each key in the list. Allows for one or several keys.
    for index, data in column.iteritems():
        for key in keys:
            #If row isn't blank
            if data:
                #Add the values to the list for that key
                info_lists[key].extend(data[key])
    
    return info_lists

In [9]:
#Get the value counts for 'name' key in each column.
#Also get the separate 'character' and 'actor' counts 
#from the 'cast' column.
belongs_to_collection = get_column_info(train['belongs_to_collection'].fillna(''), ['name'])
collection_counts = pd.Series(gather(belongs_to_collection, ['name'])['name']).value_counts()

genres = get_column_info(train['genres'].fillna(''), ['name'])
genre_counts = pd.Series(gather(genres, ['name'])['name']).value_counts()

production_companies = get_column_info(train['production_companies'].fillna(''), ['name'])
company_counts = pd.Series(gather(production_companies, ['name'])['name']).value_counts()

production_countries = get_column_info(train['production_countries'].fillna(''), ['name'])
country_counts = pd.Series(gather(production_countries, ['name'])['name']).value_counts()

spoken_languages = get_column_info(train['spoken_languages'].fillna(''), ['name'])
language_counts = pd.Series(gather(spoken_languages, ['name'])['name']).value_counts()

keywords = get_column_info(train['Keywords'].fillna(''), ['name'])
keyword_counts = pd.Series(gather(keywords, ['name'])['name']).value_counts()

cast = get_column_info(train['cast'].fillna(''), ['character', 'name'])
actor_counts = pd.Series(gather(cast, ['name'])['name']).value_counts()
character_counts = pd.Series(gather(cast, ['character'])['character']).value_counts()

In [36]:
spoken_languages[19]['name']

['English', 'Français', 'Italiano']

In [23]:
print(collection_counts.shape, 'different collections')
collection_counts[:20]

(422,) different collections

James Bond Collection                        16
Friday the 13th Collection                    7
The Pink Panther (Original) Collection        6
Police Academy Collection                     5
Pokémon Collection                            5
Resident Evil Collection                      4
Paranormal Activity Collection                4
Alien Collection                              4
Transformers Collection                       4
Ice Age Collection                            4
Rocky Collection                              4
The Fast and the Furious Collection           4
Child's Play Collection                       4
Rambo Collection                              4
The Vengeance Collection                      3
The Dark Knight Collection                    3
Three Heroes Collection                       3
Alex Cross Collection                         3
[REC] Collection                              3
Star Trek: The Original Series Collection     3
dtype: int64

In [43]:
#How clean are these collection names? Is there any redundancy to clean up?
print(collection_counts[collection_counts.index.str.contains('Star Trek')])
print(collection_counts[collection_counts.index.str.contains('Star Wars')])

Star Trek: The Original Series Collection    3
Star Trek: The Next Generation Collection    1
dtype: int64
Star Wars Collection    2
dtype: int64

In [25]:
print(actor_counts.shape, 'different actors')
actor_counts[:20]

(38588,) different actors

Samuel L. Jackson     30
Robert De Niro        30
Morgan Freeman        27
J.K. Simmons          25
Liam Neeson           25
Bruce Willis          25
Susan Sarandon        25
John Turturro         24
Bruce McGill          24
Willem Dafoe          23
Forest Whitaker       23
Nicolas Cage          22
Bill Murray           22
Owen Wilson           22
Jason Statham         21
Keith David           21
Mel Gibson            21
Sylvester Stallone    21
Sigourney Weaver      21
John Goodman          21
dtype: int64

In [46]:
#Are there any typos e.g. 'William Dafoe'
actor_counts[actor_counts.index.str.contains('Dafoe')]

Willem Dafoe    23
dtype: int64

In [61]:
character_counts.shape

(44422,)